@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
}

#root{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 20px 25px;
    background-color: black;
    color: #FAB315;
}

.cart-container{
    position: absolute;
    bottom: 40px;
    right: 40px;
    background-color: #FAB315;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.shopping-cart{
    color: black;
}

.shopping-cart:hover{
    color: #ca8a04;
}

.links{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.link{
    color: inherit;
    text-decoration: inherit;
    font-size: 1.2em;
}