@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
}

html, body, #root{
    height: 100%;
}

#root{
    display: flex;
    flex-direction: column;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 20px 25px;
    background-color: black;
    color: #FAB315;
}

.cart-container{
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: #FAB315;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.shopping-cart{
    color: black;
}

.shopping-cart:hover{
    color: #ca8a04;
}

.links{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.link{
    color: inherit;
    text-decoration: inherit;
    font-size: 1.2em;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.shop-items-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-container{
    margin: 10px;
    padding: 20px;
    border: 1px solid rgb(114, 114, 114);
}

.card-img{
    height: 250px;
    width: auto;
}

.card-container:hover{
    border: 2px solid rgb(114, 114, 114);
}

@media only screen and (max-width: 768px){
    .cart-container{
        bottom: 20px;
        right: 20px;
        padding: 15px;
    }
}