@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat&family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
}

html, body, #root{
    height: 100%;
}

#root{
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 2.5em;
    margin-bottom: 20px;
}

.abril{
    font-family: 'Abril Fatface', cursive;
}

/* Navbar.js */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 20px 25px;
    background-color: black;
    color: #FAB315;
}

.links{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.link{
    color: inherit;
    text-decoration: inherit;
    font-size: 1.2em;
}

/* Home.js */

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.section-1{
    display: flex;
    background-color: #E5E7EB;
    color: #1F2937;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    padding: 50px;
    margin: 0px 200px;
}

.home-title{
    font-size: 3.5em;
    margin-top: 10px;
    margin-bottom: 5px;
}

.shop-btn{
    font-size: 1em;
    margin-top: 20px;
    padding: 5px 25px;
    background-color: #1F2937;
    color: #E5E7EB;
    border: none;
}

.shop-btn:hover{
    background-color: #7b808a;
}

/* StickyCart.js */

.cart-container{
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: #FAB315;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.shopping-cart{
    color: black;
}

.shopping-cart:hover{
    color: #ca8a04;
}

/* Shop.js */

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    height: max-content;
}

.shop-items-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-container-1{
    margin: 10px;
    padding: 20px;
    border: 1px solid rgb(114, 114, 114);
}

.card-container-1:hover{
    border: 2px solid rgb(114, 114, 114);
}

.card-img{
    height: 300px;
    width: auto;
}

.shop-item-link{
    text-decoration: none;
    color: inherit;
}

/* ShopItem.js */

.shop-item-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card-container-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.right-card-container-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-img-2{
    height: 450px;
    width: auto;
}

.item-title{
    font-size: 2.5em;
    font-weight: bold;
}

.item-price{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    color: red;
    text-align: left;
    margin-top: 10px;
}

input[type=number]{
    text-align: center;
}

.shop-btns{
    margin-top: 40px;
}

.modify-btns{
    display: flex;
    align-items: center;
    gap: 5px;
    width: fit-content;
    background-color: #d3d3d3;
}

.modify-btn{
    text-align: center;
    font-size: 1.5em;
    color: white;
    border: none;
    width: 30px;
    height: 40px;
    padding: 5px;
}

.increment{
    background-color: #84cc16;
}

.increment:active{
    background-color: #7ea544;
}

.decrement{
    background-color: #ef4444;
}

.decrement:active{
    background-color: #8f3737;
}

.add-to-cart-btn{
    font-size: 1em;
    margin-top: 25px;
    padding: 5px;
    width: 70%;
    height: 40px;
    background-color: #FAB315;
    border: none;
    border-radius: 20px;
}

.add-to-cart-btn:active{
    background-color: #fcd34d;
}

.input-item{
    font-size: 1em;
    width: 40px;
    border: none;
    background-color: inherit;
}

/* CheckoutItem.js */

.checkout-item{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid black;
    margin: 5px;
    padding: 10px;
}

.card-checkout{
    height: 150px;
    width: auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Cart.js */

.empty-cart{
    margin: 20px;
    padding: 20px;
    color:rgb(114, 114, 114);
}

@media only screen and (max-width: 768px){
    .cart-container{
        bottom: 20px;
        right: 20px;
        padding: 15px;
    }

    .section-1{
        height: 300px;
        padding: 15px;
        margin: 0px 20px;
    }

    .home-title{
        font-size: 2em;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .card-container-2{
        display: flex;
        flex-direction: column;
    }

    .card-img-2{
        height: 250px;
    }

    .item-title{
        font-size: 1.8em;
    }

    .shop-btns{
        margin-top: 15px;
    }

    .add-to-cart-btn{
        margin-top: 15px;
        width: 100%;
    }
}